*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: IBM Plex Mono;
}
html {
    scroll-behavior: smooth;
}
body{
    background-color: #171717;
    scrollbar-width: none;
    color: #dadada;
}
/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color: #171717;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #111111; 
}
/* Navigation Bar */
nav{
    position: sticky;
    z-index: 200;
    top: 0px;
    height: 12vh;
    background-color: #111111;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 100px;
    /* margin: 20px; */
}
nav h5{
    font-size: 25px;
    padding-left: 26px;
    color: #FBF12C;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    background-color: #111111;
}
nav a{
    text-decoration: none;
}
nav:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #FBF12C;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
nav:hover:after { 
    width: 100%; 
    left: 0; 
}
@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}
.paper{
  position: absolute;
  left: 100px;
  align-self: center;
}
.paper img{
  transform: rotate(340deg);
}

/* Down Arrows */
/* Arrow 1 */
.arrow{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #FBF12C;
    border-right: 5px solid #FBF12C;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

/* Arrow 2 */
.arrow-2{
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow-2 span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #FBF12C;
    border-right: 5px solid #FBF12C;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow-2 span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow-2 span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}
/* Arrow 3 */
.arrow-3{
    position: absolute;
    top: 300%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow-3 span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #FBF12C;
    border-right: 5px solid #FBF12C;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow-3 span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow-3 span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

/* ----------- Section-1 ------------ */
#section1{
    height: 87vh;
}
.container1{
    margin-top: 10vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
.aboutme h1{
    color: #FBF12C;
    font-weight: normal;
    font-size: 50px;
}
.aboutme{
    /* position: absolute; */
    width: 200px;
    /* left: 50px;
    top: 200px; */
    color: #E5E5E5;
}
.aboutme h3{
    font-style: 20px;
    font-weight: normal;
}
.myimg img{
    border-radius: 100%;
    height: 350px;
    padding-left: 50px;
}
.interests{
    color: #E5E5E5;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
}
.interests p{
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    height: 50px;
}
.interests img{
    float: left;
}
/* ----------- Section-2 ------------ */
#section2{
    height: 87vh;
    padding: 2%;
}
#section2 h1{
    text-align: center;
    font-size: xx-large;
}
.boxes{
    display: flex;
    padding: 50px 50px 0px 50px;
    justify-content: space-around;
}
.box1,.box2{
    width: 400px;
    padding: 20px;
    padding-top: 0px;
    /* text-align: center; */
}
.box1 p,.box2 p{
    color: #E5E5E5;
    padding: 20px;
    /* font-weight: normal;
    font-style: normal; */
}
.box1 img{
    padding-left: 100px;
}
.box1 a,.box2 a{
    text-decoration: none;
}
.vl {
    border-left: 2px solid #FBF12C;
    height: 350px;
  }
.Hackathon{
    width: 400px;
    padding: 20px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Hackathon img{
    align-items: center;
}

/* ----------- Section-3 ------------ */

#section3{
    height: 107vh;
    padding: 2%;
}
.Projects-Container{
    display: flex;
    flex-direction: column;
    align-items:stretch;
    /* justify-content: space-around; */
}
.projects{
    color: #dadada;
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}
.gait,.email{
    width: 500px;
    /* background-color: aqua; */
}
.gait h3, .email h3{
    font-size: 30px;
}
.gait h5, .email h5{
    font-size: 20px;
}
.project2{
    color: #dadada;
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
}
.lms{
    margin-left: -95px;
}
.lms, .sorting{
    /* background-color: aqua; */
    width: 500px;
}
.lms h3,.sorting h3{
    font-size: 30px;
}
.lms h5,.sorting h5{
    font-size: 20px;
}

/* ----------- Section-1 ------------ */
#section4{
    height: 87vh;
    padding: 2%;
}
#section4 h5{
    color: #dadada;
    width: 50vw;
    font-weight: lighter;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 100px;
}
.resume-container{
    display: flex;
    width: 40vw;
    /* background-color: aqua; */
    justify-content: center;
}
.resume{
    /* position: absolute; */
    display: flex;
    align-self: center;
    height: 75px;
    font-weight: lighter;
    font-size: 50px;
    right: 15vw;
    top: 335vh;
    padding: 10px;
    color: #dadada;
    border-style: solid;
    border-width: 5px;
    border-color: #FBF12C;
    transition: 0.5s;
}
.resume a{
    transition: 0.5s;
}
.resume:hover{
    color: #000000 !important;
    background-color: #FBF12C;
}
.resume a:hover{
    color: #000000 !important;
}
.section-4-container{
    display: flex;
}

/*  */
footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
}
footer{
    height: 12vh;
    background-color: #111111;
}
footer img{
    padding-left: 20px;
}
.to-top{
    color:white;
    padding-top:1.8em;
    display:inline-block;/* or block */
    position: absolute;
    left: 100px;
    border-color:white;
    text-decoration:none;
    transition:all .3s ease-out;
}
.to-top:before{
    content:'▲';
    font-size:20px;
    text-align: center;
    position:absolute;
    top:0;
    left:50%;
    margin-left:-.7em;
    border:solid .13em white;
    border-radius:10em;
    width:30px;
    height:30px;
    line-height:1.3em;
    border-color:inherit;
    transition:transform .5s ease-in;
}
.to-top:hover{
    color:#FBF12C;
    border-color:#FBF12C;
}
.to-top:hover:before{
    transform: rotate(360deg);
}
